<h1>Coupon Form</h1>
<%= form_tag coupons_path do%>

    <div><label>Store:</label><%= text_field_tag :'coupon[store]' %></div>
    <div><label>Coupon Code:</label><%= text_field_tag :'coupon[coupon_code]'%></div><br> 

    <%= submit_tag "Submit Coupon"%>
<% end %>
<%= params.inspect %>

